body {
    background-color: #fafafa;
    height: 100vh;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center; 
    justify-content: center;
    align-items: center;
    height: 90%;
}

.left {
    height: 700px;
    width: 430px;
    background-image: url(1dc085cdb87d.png);
    background-repeat: no-repeat;
    transform: scale(1.125);
    margin-right: 40px;
}

.imgLeft {
    position: relative;
    top: 25px;
    left: 155px;
}

.right {
    margin-top: -135px;
}

.container-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    width: 350px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    font-family: -apple-system;
    padding: 40px;
    margin: 20px;
}

.instaLogo {
    padding: 0px 70px 30px 70px;
}
.log-in {
    background-color:rgba(0, 149, 246, 0.3);
    text-align: center;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.or {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
}

.facebook {
    text-align: center;
    margin-top: 20px;
    color: rgb(56, 81, 133);
    font-weight: 600; 
    font-size: 18px;
}

.logoFb {
    display: inline-block;
    margin-right: 8px;
    position:relative;
    top: 1px;
    height: 16px;
    width: 16px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
    background-repeat: no-repeat; 
    background-position: -414px -259px; 
    transform: scale(1.4);
}

.containerbtm {
    background-color: white;
    border: 1px solid rgb(219,219,219);
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.apps{
    text-align: center;
    margin-top: 20px;
}

.footer{
    height: 10%;
    margin-top: -3%;
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
}

.credits{
    text-align: center;
    color: gray;
    padding: 10px;
}